[submodule "indoor_mod/firmware/firmware"]
	path = indoor_mod/firmware/firmware
	url = https://github.com/spark/firmware.git
	branch = develop
[submodule "aggre_mod/vendor/github.com/najeira/ltsv"]
	path = aggre_mod/vendor/github.com/najeira/ltsv
	url = https://github.com/najeira/ltsv.git
[submodule "aggre_mod/vendor/github.com/gorilla/handlers"]
	path = aggre_mod/vendor/github.com/gorilla/handlers
	url = https://github.com/gorilla/handlers.git
[submodule "aggre_mod/vendor/github.com/google/google-api-go-client"]
	path = aggre_mod/vendor/github.com/google/google-api-go-client
	url = https://github.com/google/google-api-go-client.git
